*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.message
{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    /* border: 4px solid blue; */
}

.message h1
{
    position: relative;
    top: 180px;
    left: 180px;
}

.box
{
    width: 200px;
    height: 200px;
    text-align: center;
    position: absolute;
    transition: 1s;
    /* border: 2px solid black; */
}

.steelblue
{
    background: steelblue; 
    top: 0;
    left: 0;
    transform-origin: top left;
}

.dimgray
{
    background-color: dimgray;
    top: 0;
    right: 0;
    transform-origin: top right;
}

.yellow
{
    background-color: yellow;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
}

.rosybrown
{
    background-color: rosybrown;
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
}

main:hover .steelblue,
main:hover .rosybrown
{
    transform: rotate(90deg);
}

main:hover .dimgray,
main:hover .yellow
{
    transform: rotate(-90deg);
}
